body{
  background-image: url(https://img.freepik.com/free-vector/digital-technology-background-with-hexagon-pattern-white-tone_53876-117566.jpg?size=626&ext=jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 30px;
}
.reasons {
  text-align:left;
  margin-top: 80px;
  display: block;
}
.main-picture{
  width: 200px;
  height:150px;
  margin-left: 350px;
  margin-bottom:50px;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
}
.main-picture img{
  width:100%;
  height:152px;
}
.flex-main{

}
nav{
  height:50px;
  background-image: linear-gradient(grey 10%, black 100%);
}
.home-text{
  width: 100%;
  height:60px;
  color:black;
  border-style:solid;
  border-radius: 5px;
  border-color: grey;
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 300px;
}
.home{
  color:white;
  padding: 50px;
}
.projects{
  color:white;
  padding:50px
}
.aboutme{
  color:white;
  padding:50px;
}
.linkedIn{
  color: white;
  padding: 50px;
  margin-top:40px;
  bottom: 20px;
}
.banner-box {
  padding-top: 10px;
  width:100%;
  height:60px;
  position:absolute;
  margin-top:60px
}

.banner-box img{
  width:100%;
  height: 120px;
}
.reasons{
  margin-top: 150px;
}
